.friend {
  display: flex;
  /* border-bottom: 2px solid white; */
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 7px;
  margin-bottom: 12px;
  box-shadow: 0px 0px 10000px black;
  height: 110px;
  background-color: rgba(255, 255, 255, 0.12);
  align-items: center;
  justify-content: space-between;
  animation-delay: 0s;
  animation-timing-function: ease-in;
  animation: fadein 0.8s;
}

.trackUri {
  display: block;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.friend:hover {
  background-color: rgba(255, 255, 255, 0.18);
}

.friend:last-child {
  border-bottom: none;
}

.user {
  display: flex;
  width: 30%;
  margin-left: 10px;
  height: auto;
  align-items: center;
  justify-content: left;
}

.circle {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 2px solid rgba(255, 255, 255, 0.7);
}

.profile {
  background-image: url('../assets/default.jpg');
  width: 50px;
  image-rendering: -moz-crisp-edges;
  /* Firefox */
  image-rendering: -o-crisp-edges;
  /* Opera */
  image-rendering: -webkit-optimize-contrast;
  /* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
  /* IE (non-standard property) */
}

.name {
  font-size: 20px;
  font-weight: bold;
  padding-left: 25px;
}

.track {
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.trackImage {
  position: relative;
  height: 100%;
}

.play {
  position: absolute;
  visibility: hidden;
  height: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: ease-in;
}

.trackCard:hover .play {
  visibility: visible;
}

.trackCard:hover .trackImg {
  filter: brightness(35%)
}

.trackImg {
  height: 100%;
  border-radius: 3px 0px 0px 3px;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}

.trackCard {
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
  height: 80%;
  width: 280px;
  border-radius: 3px;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}

.trackCard:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.trackDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.trackName {
  font-size: 15px;
  font-weight: bold;
}

.artistName {
  font-size: 12px;
}

.contextName {
  font-size: 12px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.playing {
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.8);
}

.now.playing .bar {
  display: inline-block;
  position: relative;
  margin-right: 2px;
  width: 3px;
  height: 1px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.2);
  color: transparent;
  animation-name: pulse;
  animation-duration: 2.1s;
  animation-iteration-count: infinite;
  border-radius: 2px;
}

.n1 {
  animation-delay: 0.5s;
}

.n2 {
  animation-delay: 0.2s;
}

.n3 {
  animation-delay: 1.2s;
}

.n4 {
  animation-delay: 0.9s;
}

.n5 {
  animation-delay: 2.3s;
}

.n6 {
  animation-delay: 1.3s;
}

.n7 {
  animation-delay: 3.1s;
}

.n8 {
  animation-delay: 1.9s;
}

@keyframes pulse {
  0% {
    height: 1px;
    margin-top: 0;
  }

  10% {
    height: 20px;
    margin-top: -20px;
  }

  50% {
    height: 10px;
    margin-top: -10px;
  }

  60% {
    height: 10px;
    margin-top: -10px;
  }

  80% {
    height: 20px;
    margin-top: -20px;
  }

  100% {
    height: 1px;
    margin-top: 0;
  }
}

@media only screen and (max-width: 1260px) {
  .name {
    font-size: 12px;
    padding-left: 0px;
  }

  .friend {
    padding-left: 25px;
    padding-right: 25px;
  }

  .circle {
    display: none;
  }

  .playing {
    font-size: 10px;
    width: 40px;
  }

  .user {
    margin-left: 0px;
    width: 20%;
  }

  .trackDetails {
    padding-left: 12px;
    padding-right: 20px;
  }

  .trackName {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    width: 63px;
    height: 10px;
    text-overflow: ellipsis;
    font-size: 9px;
  }

  .artistName {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    width: 63px;
    text-overflow: ellipsis;
    font-size: 7px;
  }

  .contextName {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    width: 63px;
    text-overflow: ellipsis;
    font-size: 7px;
  }

  .trackCard {
    width: 69%;
    height: 50%;
  }

  .track {
    width: 75%
  }
}